* {
    font-family: Tahoma, Geneva, sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body#nav {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container h1 {
    display: block;
    font-size: 250%;
    font-style: italic;
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.nav-bar {
    top: 100%;
    display: block;
}

.link-container {
    display: inline;
    float: left;
    padding: 20px;
    text-align: center;
    margin: 40px;
}

p.hidden {
    display: inline;
    color: #ffffff;
    padding-top: 75px;
    font-size: 200%;
}

img.nav-img {
    filter: grayscale(100%);
}

a.nav-link {
    display: block;
    margin-bottom: 50px;
}

/*#circles {
    z-index: -1;
    display: inline;
    float: left;
}*/

/**** SHOW CHILD ELEMENTS ON PARENT HOVER ***/

.link-container:hover p.hidden {
    color: #000000;
}

.link-container:hover img.nav-img {
    filter: none;
    transform: scale(1.3);
}

/****** BACK ARROWS ******/
@keyframes arrow {
    from {
        transform: translateX(-300px);
    }

    to {
        transform: translateX(0px);
    }
}

header.back a {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 15px;
    z-index: 10001;
    text-decoration: none;
    animation: arrow 2s 1 linear;
    transition: transform 2s;
}

img#back-arrow {
    display: inline;
    width: 100px;
    height: 65px;
}

/***************** NETFLIX PAGE *******************/

.grid {
    z-index: -5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: #000;
    width: 100vw;
    height: 100vh;
}

.grid-img {
    position: relative;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: 1s;
}

/* FLY-IN ANIMATION */
.fly-in {
    list-style: none;
}

.fly-in img {
    display: inline-block;
    opacity: 1;
    transition: all 2.5s ease;
}

.fly-in img:last-child {
    margin-right: 0;
}

.fly-in.hidden img {
    opacity: 0;
}

.fly-in.hidden img:nth-child(1) {
    transform: translateX(-200px) translateY(-200px);
}

.fly-in.hidden img:nth-child(2) {
    transform: translateX(20px) translateY(100px);
}

.fly-in.hidden img:nth-child(3) {
    transform: translateX(-150px) translateY(-80px);
}

.fly-in.hidden img:nth-child(4) {
    transform: translateX(10px) translateY(-200px);
}

.fly-in.hidden img:nth-child(5) {
    transform: translateX(-300px) translateY(200px);
}

.fly-in.hidden img:nth-child(6) {
    transform: translateX(-20px) translateY(-20px);
}

.fly-in.hidden img:nth-child(7) {
    transform: translateX(30px) translateY(200px);
}

.fly-in.hidden img:nth-child(8) {
    transform: translateX(30px) translateY(-200px);
}

.fly-in.hidden img:nth-child(9) {
    transform: translateX(70px) translateY(-100px);
}

/* FULL-SCREEN ANIMATION*/
img.active {
    transform: scaleX(3) scaleY(3);
    transform-origin: center;
    z-index: 500;
}

img:nth-child(1).active {
    transform: scaleX(3) scaleY(3) translate(33%, 33%);
}

img:nth-child(2).active {
    transform: scaleX(3) scaleY(3) translateY(33%);
}

img:nth-child(3).active {
    transform: scaleX(3) scaleY(3) translate(-33%, 33%);
}

img:nth-child(4).active {
    transform: scaleX(3) scaleY(3) translateX(33%);
}

img:nth-child(6).active {
    transform: scaleX(3) scaleY(3) translateX(-33%);
}

img:nth-child(7).active {
    transform: scaleX(3) scaleY(3) translate(33%, -33%);
}

img:nth-child(8).active {
    transform: scaleX(3) scaleY(3) translateY(-33%);
}

img:nth-child(9).active {
    transform: scaleX(3) scaleY(3) translate(-33%, -33%);
}

.netflix-text {
    position: relative;
}

marquee {
    visibility: show;
    z-index: 10001;
    font-style: italic;
    position: absolute;
    display: inline-block;
    line-height: normal;
}

/******************* DOG PAGE *********************/

.js-loading *,
.js-loading *:before,
.js-loading *:after {
    animation-play-state: paused !important;
}

body#dog {
    background: url(media/dog/yard.png) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

video {
    position: fixed;
    top: 17%;
    left: 50%;
    filter: opacity(70%);
    max-width: 100%;
    z-index: -1000;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

audio {
    mix-blend-mode: multiply;
    position: fixed;
    bottom: 0;
    z-index: 100;
    right: 0;
}

/* Images */

div#foreground {
    background: url(media/dog/foreground.png) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    bottom: 0;
    left: 0;
}

img.play {
    position: fixed;
    display: inline;
    z-index: 5;
}

@keyframes wiggle {
    0% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(5deg);
    }
}

img.play.d1,
img.play.d2 {
    animation: wiggle 1s infinite ease-in-out;
}

.play.d1 {
    right: 25%;
    top: 50%;
}

.play.d2 {
    left: 20%;
    top: 50%;
}

.bone {
    z-index: 1000;
    position: fixed;
    display: inline;
    width: 3%;
}

.bone.b1 {
    right: 33%;
    top: 61%;
}

.bone.b2 {
    left: 20%;
    top: 64%;
}

@keyframes bouncing {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

img.play.d3,
img.play.d4 {
    animation: bouncing 1s infinite ease-in-out;
}

.play.d3 {
    left: 0;
    bottom: 0;
}

.play.d4 {
    right: 0;
    bottom: 0;
}

/******************* COLOR PAGE *******************/

body#coloring {
    position: relative;
    background: #000000;
    padding-top: 70px;
    margin: 0;
}

@keyframes spin {
    0% {
        transform: scale(0) rotateZ(0);
    }

    100% {
        transform: scale(1) rotateZ(360deg);
    }
}

#picture {
    height: 0;
    padding-bottom: 70%;
    position: relative;
}

object {
    animation: spin 2s 1 linear;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
